{
  "openapi": "3.1.0",
  "info": {
    "title": "TruoCloud API",
    "version": "1.0.0",
    "description": "The TruoCloud public API. Every infrastructure resource in an account —VPS, DNS, databases, containers, load balancers, Object Storage, and Mail Gateway— manageable over HTTP, through the `truo` CLI, and via MCP.\n\n## Authentication\n\nBearer token: `Authorization: Bearer tc_live_...`. Keys are created from the panel or with `POST /v1/api-keys` using a session.\n\nAn API key can **never** create, modify, or revoke API keys, nor manage users — not even with the `*` scope. That is what makes revoking a key final.\n\nA key's effective authority is the intersection of four things: its scopes, the permissions of the user who created it, that user's per-service permissions, and the key's service allowlist. If a permission is revoked from the user who created the key, the key loses it too.\n\n## Conventions\n\n- IDs are returned with a typed prefix (`svc_10432`); they are accepted with or without it.\n- Pagination uses an opaque cursor (`?limit=&cursor=`). There is no total count.\n- Every mutation accepts `Idempotency-Key`. Only 2xx responses are stored.\n- Every response carries `X-Request-Id`; include it when reporting a problem.\n- Long-running work returns `202` + `Location: /v1/operations/{id}`.",
    "contact": {
      "name": "TruoCloud Support",
      "url": "https://www.truocloud.com"
    }
  },
  "servers": [
    {
      "url": "https://api.truo.cloud",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Meta",
      "description": "What this instance supports."
    },
    {
      "name": "Account",
      "description": "The account and the credential in use."
    },
    {
      "name": "API Keys",
      "description": "Credentials. Requires a session."
    },
    {
      "name": "Services",
      "description": "Contracted services. The entry point to everything else."
    },
    {
      "name": "Operations",
      "description": "Asynchronous work."
    },
    {
      "name": "Audit",
      "description": "The account's API activity."
    }
  ],
  "externalDocs": {
    "description": "Documentation",
    "url": "https://docs.truo.cloud"
  },
  "components": {
    "schemas": {
      "Capabilities": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "capabilities"
            ]
          },
          "api_version": {
            "type": "string",
            "example": "v1"
          },
          "brand": {
            "type": "string",
            "example": "truocloud"
          },
          "resources": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "scopes_never_grantable_to_keys": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "These scopes exist only for sessions. No API key can hold them, not even under `*`."
          },
          "limits": {
            "type": "object",
            "properties": {
              "max_page_size": {
                "type": "integer"
              },
              "default_page_size": {
                "type": "integer"
              },
              "rate_limits": {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "per_key": {
                      "type": "integer"
                    },
                    "per_account": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "per_key",
                    "per_account"
                  ]
                }
              }
            },
            "required": [
              "max_page_size",
              "default_page_size",
              "rate_limits"
            ]
          },
          "features": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            }
          }
        },
        "required": [
          "object",
          "api_version",
          "brand",
          "resources",
          "scopes",
          "scopes_never_grantable_to_keys",
          "limits",
          "features"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "authentication_error",
                  "authorization_error",
                  "invalid_request_error",
                  "rate_limit_error",
                  "api_error"
                ],
                "description": "The broad class of the error."
              },
              "code": {
                "type": "string",
                "description": "The error's specific, stable identity. Never renamed.",
                "example": "insufficient_scope"
              },
              "message": {
                "type": "string",
                "description": "A prose explanation, safe to display."
              },
              "param": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "The field that failed, in dot notation.",
                "example": "records.0.ttl"
              },
              "request_id": {
                "type": "string",
                "example": "req_01JQ8XKM4N7P2R9TAB12CD34EF"
              },
              "required_scope": {
                "type": "string"
              },
              "retry_after": {
                "type": "integer"
              },
              "errors": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "param": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "param",
                    "message"
                  ]
                },
                "description": "Per-field detail when `code` is `validation_failed`."
              }
            },
            "required": [
              "type",
              "code",
              "message",
              "param",
              "request_id"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "Account": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "account"
            ]
          },
          "id": {
            "type": "string",
            "example": "cus_1043"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "company": {
            "type": [
              "string",
              "null"
            ]
          },
          "email": {
            "type": [
              "string",
              "null"
            ]
          },
          "country": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": [
              "string",
              "null"
            ]
          },
          "credit": {
            "type": [
              "number",
              "null"
            ],
            "description": "Credit balance, in the account's currency."
          },
          "credential": {
            "type": "object",
            "properties": {
              "object": {
                "type": "string",
                "enum": [
                  "credential"
                ]
              },
              "id": {
                "type": [
                  "string",
                  "null"
                ],
                "example": "key_42"
              },
              "type": {
                "type": "string",
                "enum": [
                  "api_key",
                  "session"
                ]
              },
              "scopes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "service_allowlist": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Empty = the credential reaches every service in the account."
              },
              "is_owner": {
                "type": "boolean",
                "description": "true when the user who owns the credential is the account owner."
              },
              "rate_limit_tier": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "object",
              "id",
              "type",
              "scopes",
              "service_allowlist",
              "is_owner",
              "rate_limit_tier"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "name",
          "company",
          "email",
          "country",
          "status",
          "credit",
          "credential"
        ]
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "api_key"
            ]
          },
          "id": {
            "type": "string",
            "example": "key_42"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "token_prefix": {
            "type": [
              "string",
              "null"
            ],
            "example": "tc_live_aB3d"
          },
          "token_last4": {
            "type": [
              "string",
              "null"
            ],
            "example": "Xy7Q"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "service_allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Empty = the key reaches every service in the account."
          },
          "rate_limit_tier": {
            "type": [
              "string",
              "null"
            ]
          },
          "last_used_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "expires_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "revoked_at": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "name",
          "token_prefix",
          "token_last4",
          "scopes",
          "service_allowlist",
          "rate_limit_tier",
          "last_used_at",
          "expires_at",
          "created_at",
          "revoked_at"
        ]
      },
      "ApiKeyList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiKey"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass it as `cursor` for the next page. It is **opaque**: do not build it, do not parse it, and do not store it across versions."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "ApiKeyCreated": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiKey"
          },
          {
            "type": "object",
            "properties": {
              "token": {
                "type": "string",
                "description": "The plaintext token. **Shown only once**: it is never stored, only its SHA-256 hash. If it is lost, create a new key.",
                "example": "tc_live_aB3dEf..."
              }
            },
            "required": [
              "token"
            ]
          }
        ]
      },
      "ApiKeyCreate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "example": "terraform-prod"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "description": "Concrete scopes. `*` is not accepted: enumerate what the key needs. `apikeys:*` and `users:*` are not grantable.",
            "example": [
              "services:read",
              "vps:read",
              "vps:power"
            ]
          },
          "service_allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Restricts the key to these services. Omitted or empty = the whole account.",
            "example": [
              "svc_10432"
            ]
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "Expiration in ISO 8601. Without it, the key never expires."
          }
        },
        "required": [
          "name",
          "scopes"
        ]
      },
      "ApiKeyUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "description": "Can only be **narrowed**. Widening returns 403."
          },
          "service_allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Can only be narrowed: an unrestricted key can gain a restriction, never lose one."
          }
        }
      },
      "Service": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "service"
            ]
          },
          "id": {
            "type": "string",
            "example": "svc_10432"
          },
          "family": {
            "type": "string",
            "enum": [
              "vps",
              "dns",
              "dbaas",
              "caas",
              "lb",
              "objectstorage",
              "mailgateway",
              "images",
              "other"
            ],
            "description": "The service's family. It determines which resource manages it. `other` is a real product in the account that has no dedicated resource in v1 yet."
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "pending",
              "suspended",
              "terminated",
              "cancelled",
              "fraud",
              "unknown"
            ]
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "The product's name in the catalog."
          },
          "label": {
            "type": [
              "string",
              "null"
            ],
            "description": "The service's label: domain, hostname, or an identifier the customer set."
          },
          "primary_ip": {
            "type": [
              "string",
              "null"
            ]
          },
          "billing_cycle": {
            "type": [
              "string",
              "null"
            ]
          },
          "next_due_date": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "capabilities": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            },
            "description": "This service's actual capabilities. Requesting an operation whose capability is `false` returns 400 `unsupported_for_product`."
          }
        },
        "required": [
          "object",
          "id",
          "family",
          "status",
          "name",
          "label",
          "primary_ip",
          "billing_cycle",
          "next_due_date",
          "created_at",
          "capabilities"
        ]
      },
      "ServiceList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Service"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass it as `cursor` for the next page. It is **opaque**: do not build it, do not parse it, and do not store it across versions."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "Operation": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "operation"
            ]
          },
          "id": {
            "type": "string",
            "example": "op_01JQ8XKM4N7P2R9TAB12CD34EF"
          },
          "type": {
            "type": "string",
            "example": "vps.reinstall"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "running",
              "succeeded",
              "failed"
            ]
          },
          "progress": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 100
          },
          "resource": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "object": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "object",
              "id"
            ],
            "description": "The resource the operation runs against."
          },
          "result": {
            "description": "The result payload. Its shape depends on `type`."
          },
          "error": {
            "description": "Failure detail when `status` is `failed`."
          },
          "stale": {
            "type": "boolean",
            "description": "true when the backend could not be reached and this is the last known state. Retry: the operation was not lost."
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "completed_at": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "type",
          "status",
          "progress",
          "resource",
          "created_at",
          "completed_at"
        ]
      },
      "OperationList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Operation"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass it as `cursor` for the next page. It is **opaque**: do not build it, do not parse it, and do not store it across versions."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "AuditLog": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "audit_log"
            ]
          },
          "id": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          },
          "method": {
            "type": "string"
          },
          "route": {
            "type": "string",
            "description": "The route template, not the concrete path. Aggregatable by definition.",
            "example": "/v1/vps/:id/power"
          },
          "path": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "error_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "scope_required": {
            "type": [
              "string",
              "null"
            ]
          },
          "credential_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "via": {
            "type": [
              "string",
              "null"
            ],
            "description": "`api`, `cli`, or `mcp`."
          },
          "ip": {
            "type": [
              "string",
              "null"
            ]
          },
          "duration_ms": {
            "type": [
              "integer",
              "null"
            ]
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "request_id",
          "method",
          "route",
          "path",
          "status",
          "error_code",
          "scope_required",
          "credential_id",
          "via",
          "ip",
          "duration_ms",
          "created_at"
        ]
      },
      "AuditLogList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuditLog"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass it as `cursor` for the next page. It is **opaque**: do not build it, do not parse it, and do not store it across versions."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "Vps": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "vps"
            ]
          },
          "id": {
            "type": "string",
            "example": "svc_10432"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "pending",
              "suspended",
              "terminated",
              "cancelled",
              "fraud",
              "unknown"
            ]
          },
          "hostname": {
            "type": [
              "string",
              "null"
            ]
          },
          "type": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "qemu",
              "lxc"
            ],
            "description": "`qemu` = full virtualization (KVM). `lxc` = container."
          },
          "node": {
            "type": [
              "string",
              "null"
            ],
            "description": "The physical node. Informational: it changes if we migrate the VM and is not addressable."
          },
          "vmid": {
            "type": [
              "integer",
              "null"
            ]
          },
          "primary_ip": {
            "type": [
              "string",
              "null"
            ]
          },
          "state": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "running",
              "stopped",
              "paused",
              "unknown"
            ],
            "description": "The machine's actual state. Distinct from `status`, which is the **contract** state in billing: an `active` VPS can be `stopped` because the customer powered it off."
          },
          "uptime_seconds": {
            "type": [
              "number",
              "null"
            ]
          },
          "cpu": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "cores": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "usage_percent": {
                "type": [
                  "number",
                  "null"
                ]
              }
            },
            "required": [
              "cores",
              "usage_percent"
            ]
          },
          "memory": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "used_bytes": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "total_bytes": {
                "type": [
                  "number",
                  "null"
                ]
              }
            },
            "required": [
              "used_bytes",
              "total_bytes"
            ]
          },
          "disk": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "used_bytes": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "total_bytes": {
                "type": [
                  "number",
                  "null"
                ]
              }
            },
            "required": [
              "used_bytes",
              "total_bytes"
            ]
          },
          "reinstalling": {
            "type": "boolean",
            "description": "A reinstall is in progress. Power operations fail while it lasts."
          },
          "capabilities": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            },
            "description": "Which `/v1` endpoints respond for THIS VPS. A capability set to `false` returns `400 unsupported_for_product`; it is not a transient error and retrying does not help."
          }
        },
        "required": [
          "object",
          "id",
          "status",
          "hostname",
          "type",
          "node",
          "vmid",
          "primary_ip",
          "state",
          "uptime_seconds",
          "cpu",
          "memory",
          "disk",
          "reinstalling",
          "capabilities"
        ]
      },
      "VpsList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vps"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass it as `cursor` for the next page. It is **opaque**: do not build it, do not parse it, and do not store it across versions."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "VpsConfig": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "vps_config"
            ]
          },
          "vmid": {
            "type": [
              "integer",
              "null"
            ]
          },
          "node": {
            "type": [
              "string",
              "null"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "qemu",
              "lxc"
            ],
            "description": "`qemu` = full virtualization (KVM). `lxc` = container."
          },
          "cores": {
            "type": [
              "number",
              "null"
            ]
          },
          "memory_mb": {
            "type": [
              "number",
              "null"
            ]
          },
          "boot_disk": {
            "type": [
              "string",
              "null"
            ],
            "description": "The storage descriptor exactly as the hypervisor reports it."
          },
          "os_type": {
            "type": [
              "string",
              "null"
            ]
          },
          "hostname": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "vmid",
          "node",
          "type",
          "cores",
          "memory_mb",
          "boot_disk",
          "os_type",
          "hostname"
        ]
      },
      "VpsMetricPoint": {
        "type": "object",
        "properties": {
          "time": {
            "type": "string"
          },
          "cpu_percent": {
            "type": [
              "number",
              "null"
            ]
          },
          "memory_bytes": {
            "type": [
              "number",
              "null"
            ]
          },
          "disk_read_bytes": {
            "type": [
              "number",
              "null"
            ]
          },
          "disk_write_bytes": {
            "type": [
              "number",
              "null"
            ]
          },
          "net_in_bytes": {
            "type": [
              "number",
              "null"
            ]
          },
          "net_out_bytes": {
            "type": [
              "number",
              "null"
            ]
          }
        },
        "required": [
          "time",
          "cpu_percent",
          "memory_bytes",
          "disk_read_bytes",
          "disk_write_bytes",
          "net_in_bytes",
          "net_out_bytes"
        ]
      },
      "VpsMetrics": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "vps_metrics"
            ]
          },
          "timeframe": {
            "type": "string",
            "enum": [
              "hour",
              "day",
              "week",
              "month",
              "year"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VpsMetricPoint"
            }
          }
        },
        "required": [
          "object",
          "timeframe",
          "data"
        ]
      },
      "VpsIp": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "vps_ip"
            ]
          },
          "version": {
            "anyOf": [
              {
                "type": "number",
                "enum": [
                  4
                ]
              },
              {
                "type": "number",
                "enum": [
                  6
                ]
              }
            ]
          },
          "address": {
            "type": [
              "string",
              "null"
            ]
          },
          "netmask": {
            "type": [
              "string",
              "null"
            ]
          },
          "gateway": {
            "type": [
              "string",
              "null"
            ]
          },
          "prefix": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "version",
          "address",
          "netmask",
          "gateway",
          "prefix"
        ]
      },
      "VpsIpList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VpsIp"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass it as `cursor` for the next page. It is **opaque**: do not build it, do not parse it, and do not store it across versions."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "VpsTemplate": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "vps_template"
            ]
          },
          "id": {
            "type": "string",
            "description": "Pass it as `template` in the reinstall."
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "qemu",
              "lxc"
            ],
            "description": "`qemu` = full virtualization (KVM). `lxc` = container."
          },
          "storage": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "name",
          "type",
          "storage"
        ]
      },
      "VpsTemplateList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VpsTemplate"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass it as `cursor` for the next page. It is **opaque**: do not build it, do not parse it, and do not store it across versions."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "ConsoleTicket": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "console_ticket"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "vnc",
              "spice"
            ]
          },
          "url": {
            "type": [
              "string",
              "null"
            ],
            "description": "noVNC: open it in the browser."
          },
          "file": {
            "type": [
              "string",
              "null"
            ],
            "description": "SPICE: the `.vv` contents for `remote-viewer`. **It is a credential**: it grants full access to the operating system. Do not log it or store it."
          },
          "filename": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "type",
          "url",
          "file",
          "filename"
        ]
      },
      "VpsBackup": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "vps_backup"
            ]
          },
          "id": {
            "type": "string",
            "example": "local:backup/vzdump-qemu-101-2026_07_27-03_00_01.vma.zst"
          },
          "size_bytes": {
            "type": [
              "number",
              "null"
            ]
          },
          "format": {
            "type": [
              "string",
              "null"
            ]
          },
          "storage": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "size_bytes",
          "format",
          "storage",
          "created_at"
        ]
      },
      "VpsBackupList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VpsBackup"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass it as `cursor` for the next page. It is **opaque**: do not build it, do not parse it, and do not store it across versions."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "DnsZone": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "dns_zone"
            ]
          },
          "id": {
            "type": "string",
            "example": "example.com"
          },
          "service": {
            "type": "string",
            "description": "The service backing the zone. For billing and support only.",
            "example": "svc_10432"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "pending",
              "suspended",
              "terminated",
              "cancelled",
              "fraud",
              "unknown"
            ]
          },
          "record_count": {
            "type": [
              "integer",
              "null"
            ]
          },
          "serial": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "service",
          "status",
          "record_count",
          "serial"
        ]
      },
      "DnsZoneList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DnsZone"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass it as `cursor` for the next page. It is **opaque**: do not build it, do not parse it, and do not store it across versions."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "DnsZoneExport": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "dns_zone_export"
            ]
          },
          "zone": {
            "type": "string"
          },
          "format": {
            "type": "string",
            "enum": [
              "bind"
            ]
          },
          "content": {
            "type": "string"
          }
        },
        "required": [
          "object",
          "zone",
          "format",
          "content"
        ]
      },
      "DnsRecord": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "dns_record"
            ]
          },
          "id": {
            "type": "string",
            "example": "www.example.com/A"
          },
          "name": {
            "type": "string",
            "description": "FQDN without the trailing dot.",
            "example": "www.example.com"
          },
          "type": {
            "type": "string",
            "enum": [
              "A",
              "AAAA",
              "CNAME",
              "MX",
              "TXT",
              "NS",
              "SRV",
              "CAA",
              "PTR"
            ],
            "description": "The `SOA` and the delegation `NS` are managed by the platform and cannot be edited."
          },
          "ttl": {
            "type": "integer"
          },
          "values": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "All the RRset's values. For `MX` they include the priority (`10 mail.example.com`); for `SRV`, priority, weight, and port.",
            "example": [
              "1.2.3.4"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "name",
          "type",
          "ttl",
          "values"
        ]
      },
      "DnsRecordList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DnsRecord"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass it as `cursor` for the next page. It is **opaque**: do not build it, do not parse it, and do not store it across versions."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "Dbaas": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "dbaas"
            ]
          },
          "id": {
            "type": "string",
            "example": "svc_10432"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "pending",
              "suspended",
              "terminated",
              "cancelled",
              "fraud",
              "unknown"
            ]
          },
          "state": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "running",
              "stopped",
              "provisioning",
              "error",
              "unknown"
            ],
            "description": "The engine's actual state. Distinct from `status`, which is the **contract** state in billing: an `active` service can be `provisioning` for its first few minutes."
          },
          "engine": {
            "type": [
              "string",
              "null"
            ],
            "description": "The engine: `mysql`, `postgresql`, `mongodb`, `valkey` (or the historical `redis`).",
            "example": "postgresql"
          },
          "engine_version": {
            "type": [
              "string",
              "null"
            ]
          },
          "host": {
            "type": [
              "string",
              "null"
            ]
          },
          "port": {
            "type": [
              "integer",
              "null"
            ]
          },
          "node": {
            "type": [
              "string",
              "null"
            ],
            "description": "The physical node. Informational and not addressable; `null` on the shared tier."
          },
          "region": {
            "type": [
              "string",
              "null"
            ]
          },
          "plan": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "cpu_cores": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "ram_mb": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "storage_gb": {
                "type": [
                  "number",
                  "null"
                ]
              }
            },
            "required": [
              "cpu_cores",
              "ram_mb",
              "storage_gb"
            ]
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "capabilities": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            },
            "description": "Which `/v1` endpoints respond for THIS service. A capability set to `false` returns `400 unsupported_for_product`: it is not transient and retrying does not help. An **absent** key is different from `false` — it means it was not queried (see the listing)."
          }
        },
        "required": [
          "object",
          "id",
          "status",
          "state",
          "engine",
          "engine_version",
          "host",
          "port",
          "node",
          "region",
          "plan",
          "created_at",
          "capabilities"
        ]
      },
      "DbaasList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Dbaas"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass it as `cursor` for the next page. It is **opaque**: do not build it, do not parse it, and do not store it across versions."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "DbaasConnection": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "dbaas_connection"
            ]
          },
          "engine": {
            "type": [
              "string",
              "null"
            ],
            "description": "The engine: `mysql`, `postgresql`, `mongodb`, `valkey` (or the historical `redis`).",
            "example": "postgresql"
          },
          "host": {
            "type": [
              "string",
              "null"
            ]
          },
          "port": {
            "type": [
              "integer",
              "null"
            ]
          },
          "database": {
            "type": [
              "string",
              "null"
            ],
            "description": "The default database. `null` on services where the admin picks one on connect."
          },
          "username": {
            "type": [
              "string",
              "null"
            ],
            "description": "The engine's admin user."
          },
          "sslmode": {
            "type": [
              "string",
              "null"
            ],
            "description": "The TLS mode in the engine's vocabulary (`verify-ca`, `VERIFY_CA`, `rediss`).",
            "example": "verify-ca"
          },
          "ca_cert": {
            "type": [
              "string",
              "null"
            ],
            "description": "The service CA's PEM, for `sslrootcert`/`--ssl-ca`. It is **public**: it verifies the server, it does not grant access."
          }
        },
        "required": [
          "object",
          "engine",
          "host",
          "port",
          "database",
          "username",
          "sslmode",
          "ca_cert"
        ]
      },
      "DbaasCredential": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "dbaas_credential"
            ]
          },
          "username": {
            "type": [
              "string",
              "null"
            ]
          },
          "password": {
            "type": [
              "string",
              "null"
            ],
            "description": "The admin password, in plaintext. **It is full access to the data**: do not log it, do not store it in a shared configuration file, and do not pass it on the command line. No URI is returned: a URI with the credential inside ends up in shell history and in the logs of whatever process receives it."
          },
          "host": {
            "type": [
              "string",
              "null"
            ]
          },
          "port": {
            "type": [
              "integer",
              "null"
            ]
          },
          "database": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "username",
          "password",
          "host",
          "port",
          "database"
        ]
      },
      "DbaasStats": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "dbaas_stats"
            ]
          },
          "cpu_percent": {
            "type": [
              "number",
              "null"
            ]
          },
          "memory_used_bytes": {
            "type": [
              "number",
              "null"
            ]
          },
          "memory_total_bytes": {
            "type": [
              "number",
              "null"
            ]
          },
          "disk_used_bytes": {
            "type": [
              "number",
              "null"
            ]
          },
          "disk_total_bytes": {
            "type": [
              "number",
              "null"
            ]
          },
          "connections": {
            "type": [
              "number",
              "null"
            ]
          },
          "max_connections": {
            "type": [
              "number",
              "null"
            ]
          },
          "uptime_seconds": {
            "type": [
              "number",
              "null"
            ]
          },
          "database_count": {
            "type": [
              "number",
              "null"
            ]
          },
          "total_size_bytes": {
            "type": [
              "number",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "cpu_percent",
          "memory_used_bytes",
          "memory_total_bytes",
          "disk_used_bytes",
          "disk_total_bytes",
          "connections",
          "max_connections",
          "uptime_seconds",
          "database_count",
          "total_size_bytes"
        ],
        "description": "Which fields are populated depends on the service's backend: some measure the **container** (CPU, memory, disk) and others the **engine** (connections, size, uptime). A `null` means \"not measured here\", not zero."
      },
      "DbaasLogs": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "dbaas_logs"
            ]
          },
          "lines": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Oldest to newest, as the engine returns them."
          }
        },
        "required": [
          "object",
          "lines"
        ]
      },
      "DbaasDatabase": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "dbaas_database"
            ]
          },
          "id": {
            "type": "string",
            "example": "appdb"
          },
          "name": {
            "type": "string"
          },
          "owner": {
            "type": [
              "string",
              "null"
            ]
          },
          "size_bytes": {
            "type": [
              "number",
              "null"
            ]
          },
          "table_count": {
            "type": [
              "number",
              "null"
            ],
            "description": "Tables (or collections in MongoDB). `null` when the engine does not report it."
          }
        },
        "required": [
          "object",
          "id",
          "name",
          "owner",
          "size_bytes",
          "table_count"
        ]
      },
      "DbaasDatabaseList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DbaasDatabase"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass it as `cursor` for the next page. It is **opaque**: do not build it, do not parse it, and do not store it across versions."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "DbaasUser": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "dbaas_user"
            ]
          },
          "id": {
            "type": "string",
            "example": "app@%"
          },
          "username": {
            "type": "string"
          },
          "host": {
            "type": [
              "string",
              "null"
            ],
            "description": "MySQL only: where the user can connect from. `%` means any origin."
          },
          "can_login": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "can_create_db": {
            "type": [
              "boolean",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "username",
          "host",
          "can_login",
          "can_create_db"
        ]
      },
      "DbaasUserList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DbaasUser"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass it as `cursor` for the next page. It is **opaque**: do not build it, do not parse it, and do not store it across versions."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "DbaasBackup": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "dbaas_backup"
            ]
          },
          "id": {
            "type": "string",
            "example": "20260727-030001F"
          },
          "type": {
            "type": [
              "string",
              "null"
            ],
            "description": "`full`, `diff`, `incr`, `manual`…"
          },
          "size_bytes": {
            "type": [
              "number",
              "null"
            ]
          },
          "location": {
            "type": [
              "string",
              "null"
            ],
            "description": "`local`, `s3`, or `both`."
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "type",
          "size_bytes",
          "location",
          "created_at"
        ]
      },
      "DbaasBackupList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DbaasBackup"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass it as `cursor` for the next page. It is **opaque**: do not build it, do not parse it, and do not store it across versions."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "Caas": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "caas"
            ]
          },
          "id": {
            "type": "string",
            "example": "svc_10432"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "pending",
              "suspended",
              "terminated",
              "cancelled",
              "fraud",
              "unknown"
            ]
          },
          "label": {
            "type": [
              "string",
              "null"
            ],
            "description": "The service's identifier."
          },
          "primary_ip": {
            "type": [
              "string",
              "null"
            ]
          },
          "provisioning_state": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "draft",
              "provisioning",
              "active",
              "suspended",
              "terminated",
              "error",
              "unknown"
            ],
            "description": "Provisioning progress. Distinct from `status`, which is the **contract** state in billing: a service that is `active` in billing can still be `provisioning` here. Until it is `active`, the app endpoints return `400 unsupported_for_product`."
          },
          "machine": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "state": {
                "type": "string",
                "enum": [
                  "running",
                  "stopped",
                  "unknown"
                ]
              },
              "uptime_seconds": {
                "type": [
                  "number",
                  "null"
                ]
              }
            },
            "required": [
              "state",
              "uptime_seconds"
            ],
            "description": "The machine running the service. `null` in the listing and also when it does not exist yet — a freshly purchased service has no machine until provisioning finishes."
          },
          "capabilities": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            },
            "description": "Which `/v1` endpoints respond for THIS service. A capability set to `false` returns `400 unsupported_for_product`; it is not a transient error and retrying does not help."
          }
        },
        "required": [
          "object",
          "id",
          "status",
          "label",
          "primary_ip",
          "provisioning_state",
          "machine",
          "capabilities"
        ]
      },
      "CaasList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Caas"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass it as `cursor` for the next page. It is **opaque**: do not build it, do not parse it, and do not store it across versions."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "CaasAppSource": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "git",
              "docker_image",
              "other"
            ],
            "description": "`other` = the source was configured outside this API and cannot be represented here."
          },
          "ref": {
            "type": [
              "string",
              "null"
            ],
            "description": "The repository URL, or the image reference (`nginx:1.27`)."
          },
          "branch": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "type",
          "ref",
          "branch"
        ],
        "description": "The code source. It comes back `null` in the listing —the backend does not include it there— and also when the app was created without a configured source. Use `GET /v1/caas/{id}/apps/{app_id}`."
      },
      "CaasApp": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "caas_app"
            ]
          },
          "id": {
            "type": "string",
            "example": "app_9f2c1b7e"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "idle",
              "deploying",
              "deployed",
              "error",
              "unknown"
            ],
            "description": "The outcome of the **latest deployment**. It is not a health check: a `deployed` does not guarantee the process is still alive right now. `idle` = never deployed since creation."
          },
          "source": {
            "$ref": "#/components/schemas/CaasAppSource"
          }
        },
        "required": [
          "object",
          "id",
          "name",
          "status",
          "source"
        ]
      },
      "CaasAppList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CaasApp"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass it as `cursor` for the next page. It is **opaque**: do not build it, do not parse it, and do not store it across versions."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "CaasDeployment": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "caas_deployment"
            ]
          },
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "running",
              "succeeded",
              "failed",
              "unknown"
            ]
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "status",
          "created_at"
        ]
      },
      "CaasDeploymentList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CaasDeployment"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass it as `cursor` for the next page. It is **opaque**: do not build it, do not parse it, and do not store it across versions."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "CaasLogs": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "caas_logs"
            ]
          },
          "app": {
            "type": "string"
          },
          "content": {
            "type": "string",
            "description": "Output exactly as the app emits it, with line breaks. It can come back empty."
          }
        },
        "required": [
          "object",
          "app",
          "content"
        ]
      },
      "CaasEnvVar": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "caas_env_var"
            ]
          },
          "key": {
            "type": "string",
            "example": "DATABASE_URL"
          }
        },
        "required": [
          "object",
          "key"
        ]
      },
      "CaasEnvVarList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CaasEnvVar"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass it as `cursor` for the next page. It is **opaque**: do not build it, do not parse it, and do not store it across versions."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "CaasDomain": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "caas_domain"
            ]
          },
          "host": {
            "type": "string",
            "example": "app.example.com"
          },
          "https": {
            "type": "boolean"
          },
          "certificate_type": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "none",
              "letsencrypt",
              "custom",
              "unknown"
            ],
            "description": "Which issuer is configured, **not** whether the certificate was already issued: issuance is asynchronous, with no state or id to query. It comes back `null` in the creation response, because at that point there is no certificate yet. The only real check that the domain is serving is an HTTPS request to the host."
          }
        },
        "required": [
          "object",
          "host",
          "https",
          "certificate_type"
        ]
      },
      "CaasDomainList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CaasDomain"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass it as `cursor` for the next page. It is **opaque**: do not build it, do not parse it, and do not store it across versions."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "CaasDatabase": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "caas_database"
            ]
          },
          "id": {
            "type": "string"
          },
          "engine": {
            "type": "string",
            "example": "postgres"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "idle",
              "deploying",
              "deployed",
              "error",
              "unknown"
            ],
            "description": "The outcome of the **latest deployment**. It is not a health check: a `deployed` does not guarantee the process is still alive right now. `idle` = never deployed since creation."
          }
        },
        "required": [
          "object",
          "id",
          "engine",
          "name",
          "status"
        ]
      },
      "CaasDatabaseList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CaasDatabase"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass it as `cursor` for the next page. It is **opaque**: do not build it, do not parse it, and do not store it across versions."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "LoadBalancer": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "load_balancer"
            ]
          },
          "id": {
            "type": "string",
            "example": "svc_10432"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "pending",
              "suspended",
              "terminated",
              "cancelled",
              "fraud",
              "unknown"
            ]
          },
          "provisioning_state": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "draft",
              "provisioning",
              "active",
              "suspended",
              "terminated",
              "error",
              "unknown"
            ],
            "description": "Provisioning progress. Distinct from `status`, which is the **contract** state in billing. Until it is `active`, writing listeners returns `400 unsupported_for_product`."
          },
          "hostname": {
            "type": [
              "string",
              "null"
            ],
            "description": "The balancer's stable name. Point your DNS records here, not at the IP."
          },
          "public_ip": {
            "type": [
              "string",
              "null"
            ],
            "description": "The IP traffic enters through. It can move to another machine on failure: that is part of how the service recovers, which is why it is not what belongs in DNS."
          },
          "healthy": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Is the balancer responding? `null` = could not be verified, which is different from `false`: it happens while provisioning. It says nothing about the health of your backends — that is in `GET /v1/load-balancers/{id}/stats`."
          },
          "listener_count": {
            "type": [
              "integer",
              "null"
            ]
          },
          "capabilities": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            },
            "description": "Which `/v1` endpoints respond for THIS service. A capability set to `false` returns `400 unsupported_for_product`."
          }
        },
        "required": [
          "object",
          "id",
          "status",
          "provisioning_state",
          "hostname",
          "public_ip",
          "healthy",
          "listener_count",
          "capabilities"
        ]
      },
      "LoadBalancerList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LoadBalancer"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass it as `cursor` for the next page. It is **opaque**: do not build it, do not parse it, and do not store it across versions."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "LbListener": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "lb_listener"
            ]
          },
          "id": {
            "type": "string",
            "example": "web"
          },
          "name": {
            "type": "string"
          },
          "protocol": {
            "type": "string",
            "enum": [
              "http",
              "tcp"
            ],
            "description": "`tcp` balances at the connection level and works for any protocol. `http` understands the request and is what enables routing by domain."
          },
          "port": {
            "type": "integer"
          },
          "tls": {
            "type": "string",
            "enum": [
              "none",
              "passthrough",
              "terminate"
            ],
            "description": "`passthrough` hands TLS to your backends intact. `terminate` decrypts it at the balancer —requires `protocol: http` and `domain`— and traffic to your backends travels in plaintext over the internal network."
          },
          "domain": {
            "type": [
              "string",
              "null"
            ]
          },
          "algorithm": {
            "type": "string",
            "enum": [
              "roundrobin",
              "leastconn",
              "source"
            ],
            "description": "`source` always sends each origin IP to the same backend: it is what you use when the application keeps sessions in memory."
          },
          "health_check": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "tcp",
                  "http"
                ]
              },
              "path": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "interval_ms": {
                "type": "integer"
              }
            },
            "required": [
              "type",
              "path",
              "interval_ms"
            ]
          },
          "backends": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ip": {
                  "type": "string"
                },
                "port": {
                  "type": "integer"
                },
                "weight": {
                  "type": [
                    "integer",
                    "null"
                  ]
                }
              },
              "required": [
                "ip",
                "port",
                "weight"
              ]
            }
          }
        },
        "required": [
          "object",
          "id",
          "name",
          "protocol",
          "port",
          "tls",
          "domain",
          "algorithm",
          "health_check",
          "backends"
        ]
      },
      "LbListenerList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LbListener"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass it as `cursor` for the next page. It is **opaque**: do not build it, do not parse it, and do not store it across versions."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "LbBackend": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "lb_backend"
            ]
          },
          "id": {
            "type": "string",
            "example": "web/10.0.0.5/8080"
          },
          "listener": {
            "type": "string"
          },
          "ip": {
            "type": "string",
            "description": "The backend's IP or hostname."
          },
          "port": {
            "type": "integer"
          },
          "weight": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Traffic share relative to the listener's other backends. Defaults to 1."
          }
        },
        "required": [
          "object",
          "id",
          "listener",
          "ip",
          "port",
          "weight"
        ]
      },
      "LbBackendList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LbBackend"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass it as `cursor` for the next page. It is **opaque**: do not build it, do not parse it, and do not store it across versions."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "LbStats": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "lb_stats"
            ]
          },
          "listeners": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "listener": {
                  "type": "string"
                },
                "protocol": {
                  "type": "string",
                  "enum": [
                    "http",
                    "tcp",
                    "unknown"
                  ]
                },
                "port": {
                  "type": [
                    "integer",
                    "null"
                  ]
                },
                "state": {
                  "type": "string",
                  "enum": [
                    "up",
                    "down",
                    "unknown"
                  ]
                },
                "sessions": {
                  "type": "integer",
                  "description": "Connections in flight."
                },
                "bytes_in": {
                  "type": "number"
                },
                "bytes_out": {
                  "type": "number"
                },
                "backends": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "target": {
                        "type": "string",
                        "description": "The backend as declared, in `host:port` form.",
                        "example": "10.0.0.5:8080"
                      },
                      "health": {
                        "type": "string",
                        "enum": [
                          "healthy",
                          "unhealthy",
                          "unknown"
                        ]
                      }
                    },
                    "required": [
                      "target",
                      "health"
                    ]
                  }
                }
              },
              "required": [
                "listener",
                "protocol",
                "port",
                "state",
                "sessions",
                "bytes_in",
                "bytes_out",
                "backends"
              ]
            }
          }
        },
        "required": [
          "object",
          "listeners"
        ]
      },
      "ObjectStorage": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "object_storage"
            ]
          },
          "service": {
            "type": [
              "string",
              "null"
            ],
            "example": "svc_10432"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "suspended",
              "error"
            ]
          },
          "endpoint": {
            "type": "string",
            "description": "The S3 endpoint. Configure your client with `addressing_style=path`.",
            "example": "s3.truo.cloud"
          },
          "storage_bytes": {
            "type": "integer"
          },
          "objects": {
            "type": "integer"
          },
          "buckets": {
            "type": "integer"
          },
          "egress_used_bytes": {
            "type": "integer",
            "description": "Downloaded in the last 30 days."
          },
          "egress_included_bytes": {
            "type": "integer",
            "description": "The period's included egress, derived from the storage in use."
          },
          "requests_30d": {
            "type": "integer"
          }
        },
        "required": [
          "object",
          "service",
          "status",
          "endpoint",
          "storage_bytes",
          "objects",
          "buckets",
          "egress_used_bytes",
          "egress_included_bytes",
          "requests_30d"
        ]
      },
      "StorageBucket": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "storage_bucket"
            ]
          },
          "id": {
            "type": "string",
            "example": "backups"
          },
          "name": {
            "type": "string",
            "example": "backups"
          },
          "access": {
            "type": "string",
            "enum": [
              "private",
              "public"
            ],
            "description": "`public` publishes the bucket at a read-only URL (`public_url`). `private` withdraws it: objects remain accessible with a key or a presigned URL."
          },
          "objects": {
            "type": "integer"
          },
          "size_bytes": {
            "type": "integer"
          },
          "public_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "The anonymous read base URL. `null` while the bucket is private.",
            "example": "https://s3.truo.cloud/_public/k3m9xz4n/"
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "Null for a bucket created by a direct S3 client, which has no registry row."
          }
        },
        "required": [
          "object",
          "id",
          "name",
          "access",
          "objects",
          "size_bytes",
          "public_url",
          "created_at"
        ]
      },
      "StorageBucketList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StorageBucket"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass it as `cursor` for the next page. It is **opaque**: do not build it, do not parse it, and do not store it across versions."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "StorageDeletion": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "storage_deletion"
            ]
          },
          "bucket": {
            "type": "string"
          },
          "deleted": {
            "type": "integer",
            "description": "Objects actually deleted."
          }
        },
        "required": [
          "object",
          "bucket",
          "deleted"
        ]
      },
      "StorageBucketMetrics": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "storage_bucket_metrics"
            ]
          },
          "bucket": {
            "type": "string"
          },
          "range": {
            "type": "string",
            "enum": [
              "7d",
              "30d",
              "90d"
            ]
          },
          "storage_bytes": {
            "type": "integer"
          },
          "storage_delta_bytes": {
            "type": "integer",
            "description": "Difference against the first snapshot in the range. Negative if the bucket shrank."
          },
          "objects": {
            "type": "integer"
          },
          "objects_delta": {
            "type": "integer"
          },
          "egress_used_bytes": {
            "type": "integer"
          },
          "egress_included_bytes": {
            "type": "integer"
          },
          "requests_30d": {
            "type": "integer",
            "description": "Always 30 days, regardless of `range`."
          },
          "get_pct": {
            "type": "integer",
            "description": "Reads as a percentage of the range's total requests."
          },
          "storage_series": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "bytes": {
                  "type": "integer"
                }
              },
              "required": [
                "date",
                "bytes"
              ]
            },
            "description": "One point per UTC day. Empty until there are snapshots."
          },
          "requests_series": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "get": {
                  "type": "integer"
                },
                "put": {
                  "type": "integer"
                }
              },
              "required": [
                "date",
                "get",
                "put"
              ]
            },
            "description": "One point per UTC day. Empty if there was no traffic in the range."
          },
          "egress_by_origin": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string"
                },
                "bytes": {
                  "type": "integer"
                }
              },
              "required": [
                "label",
                "bytes"
              ]
            },
            "description": "How much left through the edge cache versus the origin."
          }
        },
        "required": [
          "object",
          "bucket",
          "range",
          "storage_bytes",
          "storage_delta_bytes",
          "objects",
          "objects_delta",
          "egress_used_bytes",
          "egress_included_bytes",
          "requests_30d",
          "get_pct",
          "storage_series",
          "requests_series",
          "egress_by_origin"
        ]
      },
      "StorageObject": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "storage_object"
            ]
          },
          "id": {
            "type": "string",
            "example": "photos/logo.png"
          },
          "key": {
            "type": "string",
            "description": "Relative to the bucket. Folders end in `/`.",
            "example": "photos/logo.png"
          },
          "name": {
            "type": "string",
            "description": "The key's last segment.",
            "example": "logo.png"
          },
          "is_folder": {
            "type": "boolean",
            "description": "A folder is not an object: it is a shared prefix. It is listed for navigation, and has no size or date."
          },
          "content_type": {
            "type": [
              "string",
              "null"
            ],
            "description": "Inferred from the extension, not read from the object.",
            "example": "image/png"
          },
          "size_bytes": {
            "type": [
              "integer",
              "null"
            ]
          },
          "last_modified": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "key",
          "name",
          "is_folder",
          "content_type",
          "size_bytes",
          "last_modified"
        ]
      },
      "StorageObjectList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StorageObject"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass it as `cursor` for the next page. It is **opaque**: do not build it, do not parse it, and do not store it across versions."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "StoragePresignedUrl": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "storage_presigned_url"
            ]
          },
          "url": {
            "type": "string"
          },
          "method": {
            "type": "string",
            "enum": [
              "GET",
              "PUT"
            ]
          },
          "expires_in": {
            "type": "integer"
          },
          "expires_at": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "url",
          "method",
          "expires_in",
          "expires_at"
        ]
      },
      "StorageAccessKey": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "storage_access_key"
            ]
          },
          "id": {
            "type": "string",
            "description": "Currently equal to `access_key_id`; still treat it as the resource's identifier.",
            "example": "AKIA7QF2K3M9XZ4NPRTV"
          },
          "name": {
            "type": "string"
          },
          "access_key_id": {
            "type": "string",
            "description": "What goes in the S3 client."
          },
          "scope": {
            "type": "string",
            "description": "The bucket the key is limited to, or `*` for all.",
            "example": "*"
          },
          "permission": {
            "type": "string",
            "enum": [
              "read",
              "readwrite",
              "full"
            ],
            "description": "`read` only downloads, `readwrite` uploads and deletes, `full` adds bucket management through the S3 protocol."
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "last_used": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "name",
          "access_key_id",
          "scope",
          "permission",
          "created_at",
          "last_used"
        ]
      },
      "StorageAccessKeyList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StorageAccessKey"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass it as `cursor` for the next page. It is **opaque**: do not build it, do not parse it, and do not store it across versions."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "StorageAccessKeyWithSecret": {
        "allOf": [
          {
            "$ref": "#/components/schemas/StorageAccessKey"
          },
          {
            "type": "object",
            "properties": {
              "secret_access_key": {
                "type": "string",
                "description": "Appears **exactly once**, in this response. It is not stored in plaintext on our side and no endpoint recovers it: if it is lost, the way out is to issue another key and rotate the application."
              }
            },
            "required": [
              "secret_access_key"
            ]
          }
        ]
      },
      "MailGatewayUsage": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "mail_gateway_usage"
            ]
          },
          "period": {
            "type": "string",
[...]
