{
  "openapi": "3.1.0",
  "info": {
    "title": "TruoCloud API",
    "version": "1.0.0",
    "description": "API pública de TruoCloud. Todos los recursos de infraestructura de una cuenta —VPS, DNS, bases de datos, contenedores, balanceadores, Object Storage y Mail Gateway— gestionables por HTTP, por el CLI `truo` y por MCP.\n\n## Autenticación\n\nBearer token: `Authorization: Bearer tc_live_...`. Las keys se crean desde el panel o con `POST /v1/api-keys` desde una sesión.\n\nUna API key **nunca** puede crear, modificar ni revocar API keys, ni gestionar usuarios — ni siquiera con scope `*`. Eso es lo que hace que revocar una key sea definitivo.\n\nLa autoridad efectiva de una key es la intersección de cuatro cosas: sus scopes, los permisos del usuario que la creó, los permisos por servicio de ese usuario, y la allowlist de servicios de la key. Si al usuario que creó la key le revocan un permiso, la key lo pierde también.\n\n## Convenciones\n\n- Los ids se devuelven con prefijo tipado (`svc_10432`); se aceptan con o sin él.\n- Paginación por cursor opaco (`?limit=&cursor=`). No hay total count.\n- Toda mutación acepta `Idempotency-Key`. Solo se guardan las respuestas 2xx.\n- Toda respuesta trae `X-Request-Id`; citalo al reportar un problema.\n- Lo que tarda devuelve `202` + `Location: /v1/operations/{id}`.",
    "contact": {
      "name": "Soporte TruoCloud",
      "url": "https://www.truocloud.com"
    }
  },
  "servers": [
    {
      "url": "https://api.truo.cloud",
      "description": "Producción"
    }
  ],
  "tags": [
    {
      "name": "Meta",
      "description": "Qué soporta esta instancia."
    },
    {
      "name": "Account",
      "description": "La cuenta y la credencial en uso."
    },
    {
      "name": "API Keys",
      "description": "Credenciales. Requiere sesión."
    },
    {
      "name": "Services",
      "description": "Servicios contratados. Punto de entrada al resto."
    },
    {
      "name": "Operations",
      "description": "Trabajo asíncrono."
    },
    {
      "name": "Audit",
      "description": "Actividad de API de la cuenta."
    }
  ],
  "externalDocs": {
    "description": "Documentación",
    "url": "https://docs.truo.cloud"
  },
  "components": {
    "schemas": {
      "Capabilities": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "capabilities"
            ]
          },
          "api_version": {
            "type": "string",
            "example": "v1"
          },
          "brand": {
            "type": "string",
            "example": "truocloud"
          },
          "resources": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "scopes_never_grantable_to_keys": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Estos scopes existen solo para sesiones. Ninguna API key puede tenerlos, ni bajo `*`."
          },
          "limits": {
            "type": "object",
            "properties": {
              "max_page_size": {
                "type": "integer"
              },
              "default_page_size": {
                "type": "integer"
              },
              "rate_limits": {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "per_key": {
                      "type": "integer"
                    },
                    "per_account": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "per_key",
                    "per_account"
                  ]
                }
              }
            },
            "required": [
              "max_page_size",
              "default_page_size",
              "rate_limits"
            ]
          },
          "features": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            }
          }
        },
        "required": [
          "object",
          "api_version",
          "brand",
          "resources",
          "scopes",
          "scopes_never_grantable_to_keys",
          "limits",
          "features"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "authentication_error",
                  "authorization_error",
                  "invalid_request_error",
                  "rate_limit_error",
                  "api_error"
                ],
                "description": "Clase gruesa del error."
              },
              "code": {
                "type": "string",
                "description": "Identidad específica y estable del error. Nunca se renombra.",
                "example": "insufficient_scope"
              },
              "message": {
                "type": "string",
                "description": "Explicación en prosa, apta para mostrar."
              },
              "param": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Campo que falló, en notación de punto.",
                "example": "records.0.ttl"
              },
              "request_id": {
                "type": "string",
                "example": "req_01JQ8XKM4N7P2R9TAB12CD34EF"
              },
              "required_scope": {
                "type": "string"
              },
              "retry_after": {
                "type": "integer"
              },
              "errors": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "param": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "param",
                    "message"
                  ]
                },
                "description": "Detalle por campo cuando `code` es `validation_failed`."
              }
            },
            "required": [
              "type",
              "code",
              "message",
              "param",
              "request_id"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "Account": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "account"
            ]
          },
          "id": {
            "type": "string",
            "example": "cus_1043"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "company": {
            "type": [
              "string",
              "null"
            ]
          },
          "email": {
            "type": [
              "string",
              "null"
            ]
          },
          "country": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": [
              "string",
              "null"
            ]
          },
          "credit": {
            "type": [
              "number",
              "null"
            ],
            "description": "Saldo a favor, en la moneda de la cuenta."
          },
          "credential": {
            "type": "object",
            "properties": {
              "object": {
                "type": "string",
                "enum": [
                  "credential"
                ]
              },
              "id": {
                "type": [
                  "string",
                  "null"
                ],
                "example": "key_42"
              },
              "type": {
                "type": "string",
                "enum": [
                  "api_key",
                  "session"
                ]
              },
              "scopes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "service_allowlist": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Vacío = la credencial alcanza todos los servicios de la cuenta."
              },
              "is_owner": {
                "type": "boolean",
                "description": "true si el usuario dueño de la credencial es el owner de la cuenta."
              },
              "rate_limit_tier": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "object",
              "id",
              "type",
              "scopes",
              "service_allowlist",
              "is_owner",
              "rate_limit_tier"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "name",
          "company",
          "email",
          "country",
          "status",
          "credit",
          "credential"
        ]
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "api_key"
            ]
          },
          "id": {
            "type": "string",
            "example": "key_42"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "token_prefix": {
            "type": [
              "string",
              "null"
            ],
            "example": "tc_live_aB3d"
          },
          "token_last4": {
            "type": [
              "string",
              "null"
            ],
            "example": "Xy7Q"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "service_allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Vacío = la key alcanza todos los servicios de la cuenta."
          },
          "rate_limit_tier": {
            "type": [
              "string",
              "null"
            ]
          },
          "last_used_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "expires_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "revoked_at": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "name",
          "token_prefix",
          "token_last4",
          "scopes",
          "service_allowlist",
          "rate_limit_tier",
          "last_used_at",
          "expires_at",
          "created_at",
          "revoked_at"
        ]
      },
      "ApiKeyList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiKey"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pasalo como `cursor` para la página siguiente. Es **opaco**: no lo construyas, no lo parsees y no lo guardes entre versiones."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "ApiKeyCreated": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiKey"
          },
          {
            "type": "object",
            "properties": {
              "token": {
                "type": "string",
                "description": "El token en claro. **Se muestra una sola vez**: no se almacena, solo su hash SHA-256. Si se pierde, hay que crear otra key.",
                "example": "tc_live_aB3dEf..."
              }
            },
            "required": [
              "token"
            ]
          }
        ]
      },
      "ApiKeyCreate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "example": "terraform-prod"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "description": "Scopes concretos. `*` no se acepta: enumerá lo que la key necesita. `apikeys:*` y `users:*` no son otorgables.",
            "example": [
              "services:read",
              "vps:read",
              "vps:power"
            ]
          },
          "service_allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Restringe la key a estos servicios. Omitido o vacío = toda la cuenta.",
            "example": [
              "svc_10432"
            ]
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "Vencimiento en ISO 8601. Sin esto la key no vence."
          }
        },
        "required": [
          "name",
          "scopes"
        ]
      },
      "ApiKeyUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "description": "Solo se puede **estrechar**. Ampliar devuelve 403."
          },
          "service_allowlist": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Solo se puede estrechar: una key sin restricción puede ganarla, nunca perderla."
          }
        }
      },
      "Service": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "service"
            ]
          },
          "id": {
            "type": "string",
            "example": "svc_10432"
          },
          "family": {
            "type": "string",
            "enum": [
              "vps",
              "dns",
              "dbaas",
              "caas",
              "lb",
              "objectstorage",
              "mailgateway",
              "other"
            ],
            "description": "Familia del servicio. Determina bajo qué recurso se gestiona. `other` es un producto real de la cuenta que todavía no tiene recurso dedicado en v1."
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "pending",
              "suspended",
              "terminated",
              "cancelled",
              "fraud",
              "unknown"
            ]
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Nombre del producto en el catálogo."
          },
          "label": {
            "type": [
              "string",
              "null"
            ],
            "description": "Etiqueta del servicio: dominio, hostname o identificador que puso el cliente."
          },
          "primary_ip": {
            "type": [
              "string",
              "null"
            ]
          },
          "billing_cycle": {
            "type": [
              "string",
              "null"
            ]
          },
          "next_due_date": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "capabilities": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            },
            "description": "Capacidades reales de este servicio. Pedir una operación con capacidad `false` devuelve 400 `unsupported_for_product`."
          }
        },
        "required": [
          "object",
          "id",
          "family",
          "status",
          "name",
          "label",
          "primary_ip",
          "billing_cycle",
          "next_due_date",
          "created_at",
          "capabilities"
        ]
      },
      "ServiceList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Service"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pasalo como `cursor` para la página siguiente. Es **opaco**: no lo construyas, no lo parsees y no lo guardes entre versiones."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "Operation": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "operation"
            ]
          },
          "id": {
            "type": "string",
            "example": "op_01JQ8XKM4N7P2R9TAB12CD34EF"
          },
          "type": {
            "type": "string",
            "example": "vps.reinstall"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "running",
              "succeeded",
              "failed"
            ]
          },
          "progress": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 100
          },
          "resource": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "object": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            },
            "required": [
              "object",
              "id"
            ],
            "description": "Recurso sobre el que corre la operación."
          },
          "result": {
            "description": "Payload del resultado. La forma depende de `type`."
          },
          "error": {
            "description": "Detalle del fallo cuando `status` es `failed`."
          },
          "stale": {
            "type": "boolean",
            "description": "true cuando no se pudo consultar el backend y esto es el último estado conocido. Reintentá: la operación no se perdió."
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "completed_at": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "type",
          "status",
          "progress",
          "resource",
          "created_at",
          "completed_at"
        ]
      },
      "OperationList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Operation"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pasalo como `cursor` para la página siguiente. Es **opaco**: no lo construyas, no lo parsees y no lo guardes entre versiones."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "AuditLog": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "audit_log"
            ]
          },
          "id": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          },
          "method": {
            "type": "string"
          },
          "route": {
            "type": "string",
            "description": "Template de la ruta, no el path concreto. Agregable por definición.",
            "example": "/v1/vps/:id/power"
          },
          "path": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "error_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "scope_required": {
            "type": [
              "string",
              "null"
            ]
          },
          "credential_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "via": {
            "type": [
              "string",
              "null"
            ],
            "description": "`api`, `cli` o `mcp`."
          },
          "ip": {
            "type": [
              "string",
              "null"
            ]
          },
          "duration_ms": {
            "type": [
              "integer",
              "null"
            ]
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "request_id",
          "method",
          "route",
          "path",
          "status",
          "error_code",
          "scope_required",
          "credential_id",
          "via",
          "ip",
          "duration_ms",
          "created_at"
        ]
      },
      "AuditLogList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuditLog"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pasalo como `cursor` para la página siguiente. Es **opaco**: no lo construyas, no lo parsees y no lo guardes entre versiones."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "Vps": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "vps"
            ]
          },
          "id": {
            "type": "string",
            "example": "svc_10432"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "pending",
              "suspended",
              "terminated",
              "cancelled",
              "fraud",
              "unknown"
            ]
          },
          "hostname": {
            "type": [
              "string",
              "null"
            ]
          },
          "type": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "qemu",
              "lxc"
            ],
            "description": "`qemu` = virtualización completa (KVM). `lxc` = contenedor."
          },
          "node": {
            "type": [
              "string",
              "null"
            ],
            "description": "Nodo físico. Informativo: cambia si migramos la VM y no es direccionable."
          },
          "vmid": {
            "type": [
              "integer",
              "null"
            ]
          },
          "primary_ip": {
            "type": [
              "string",
              "null"
            ]
          },
          "state": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "running",
              "stopped",
              "paused",
              "unknown"
            ],
            "description": "Estado real de la máquina. Distinto de `status`, que es el estado del **contrato** en facturación: un VPS `active` puede estar `stopped` porque el cliente lo apagó."
          },
          "uptime_seconds": {
            "type": [
              "number",
              "null"
            ]
          },
          "cpu": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "cores": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "usage_percent": {
                "type": [
                  "number",
                  "null"
                ]
              }
            },
            "required": [
              "cores",
              "usage_percent"
            ]
          },
          "memory": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "used_bytes": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "total_bytes": {
                "type": [
                  "number",
                  "null"
                ]
              }
            },
            "required": [
              "used_bytes",
              "total_bytes"
            ]
          },
          "disk": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "used_bytes": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "total_bytes": {
                "type": [
                  "number",
                  "null"
                ]
              }
            },
            "required": [
              "used_bytes",
              "total_bytes"
            ]
          },
          "reinstalling": {
            "type": "boolean",
            "description": "Hay una reinstalación en curso. Las operaciones de power fallan mientras dure."
          },
          "capabilities": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            },
            "description": "Qué endpoints de `/v1` responden para ESTE VPS. Una capacidad en `false` devuelve `400 unsupported_for_product`; no es un error transitorio y reintentar no ayuda."
          }
        },
        "required": [
          "object",
          "id",
          "status",
          "hostname",
          "type",
          "node",
          "vmid",
          "primary_ip",
          "state",
          "uptime_seconds",
          "cpu",
          "memory",
          "disk",
          "reinstalling",
          "capabilities"
        ]
      },
      "VpsList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vps"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pasalo como `cursor` para la página siguiente. Es **opaco**: no lo construyas, no lo parsees y no lo guardes entre versiones."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "VpsConfig": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "vps_config"
            ]
          },
          "vmid": {
            "type": [
              "integer",
              "null"
            ]
          },
          "node": {
            "type": [
              "string",
              "null"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "qemu",
              "lxc"
            ],
            "description": "`qemu` = virtualización completa (KVM). `lxc` = contenedor."
          },
          "cores": {
            "type": [
              "number",
              "null"
            ]
          },
          "memory_mb": {
            "type": [
              "number",
              "null"
            ]
          },
          "boot_disk": {
            "type": [
              "string",
              "null"
            ],
            "description": "Descriptor de almacenamiento tal como lo reporta el hipervisor."
          },
          "os_type": {
            "type": [
              "string",
              "null"
            ]
          },
          "hostname": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "vmid",
          "node",
          "type",
          "cores",
          "memory_mb",
          "boot_disk",
          "os_type",
          "hostname"
        ]
      },
      "VpsMetricPoint": {
        "type": "object",
        "properties": {
          "time": {
            "type": "string"
          },
          "cpu_percent": {
            "type": [
              "number",
              "null"
            ]
          },
          "memory_bytes": {
            "type": [
              "number",
              "null"
            ]
          },
          "disk_read_bytes": {
            "type": [
              "number",
              "null"
            ]
          },
          "disk_write_bytes": {
            "type": [
              "number",
              "null"
            ]
          },
          "net_in_bytes": {
            "type": [
              "number",
              "null"
            ]
          },
          "net_out_bytes": {
            "type": [
              "number",
              "null"
            ]
          }
        },
        "required": [
          "time",
          "cpu_percent",
          "memory_bytes",
          "disk_read_bytes",
          "disk_write_bytes",
          "net_in_bytes",
          "net_out_bytes"
        ]
      },
      "VpsMetrics": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "vps_metrics"
            ]
          },
          "timeframe": {
            "type": "string",
            "enum": [
              "hour",
              "day",
              "week",
              "month",
              "year"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VpsMetricPoint"
            }
          }
        },
        "required": [
          "object",
          "timeframe",
          "data"
        ]
      },
      "VpsIp": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "vps_ip"
            ]
          },
          "version": {
            "anyOf": [
              {
                "type": "number",
                "enum": [
                  4
                ]
              },
              {
                "type": "number",
                "enum": [
                  6
                ]
              }
            ]
          },
          "address": {
            "type": [
              "string",
              "null"
            ]
          },
          "netmask": {
            "type": [
              "string",
              "null"
            ]
          },
          "gateway": {
            "type": [
              "string",
              "null"
            ]
          },
          "prefix": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "version",
          "address",
          "netmask",
          "gateway",
          "prefix"
        ]
      },
      "VpsIpList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VpsIp"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pasalo como `cursor` para la página siguiente. Es **opaco**: no lo construyas, no lo parsees y no lo guardes entre versiones."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "VpsTemplate": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "vps_template"
            ]
          },
          "id": {
            "type": "string",
            "description": "Pasalo como `template` en la reinstalación."
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "qemu",
              "lxc"
            ],
            "description": "`qemu` = virtualización completa (KVM). `lxc` = contenedor."
          },
          "storage": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "name",
          "type",
          "storage"
        ]
      },
      "VpsTemplateList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VpsTemplate"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pasalo como `cursor` para la página siguiente. Es **opaco**: no lo construyas, no lo parsees y no lo guardes entre versiones."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "ConsoleTicket": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "console_ticket"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "vnc",
              "spice"
            ]
          },
          "url": {
            "type": [
              "string",
              "null"
            ],
            "description": "noVNC: abrir en el navegador."
          },
          "file": {
            "type": [
              "string",
              "null"
            ],
            "description": "SPICE: contenido del `.vv` para `remote-viewer`. **Es una credencial**: da acceso total al sistema operativo. No lo loguees ni lo guardes."
          },
          "filename": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "type",
          "url",
          "file",
          "filename"
        ]
      },
      "VpsBackup": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "vps_backup"
            ]
          },
          "id": {
            "type": "string",
            "example": "local:backup/vzdump-qemu-101-2026_07_27-03_00_01.vma.zst"
          },
          "size_bytes": {
            "type": [
              "number",
              "null"
            ]
          },
          "format": {
            "type": [
              "string",
              "null"
            ]
          },
          "storage": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "size_bytes",
          "format",
          "storage",
          "created_at"
        ]
      },
      "VpsBackupList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VpsBackup"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pasalo como `cursor` para la página siguiente. Es **opaco**: no lo construyas, no lo parsees y no lo guardes entre versiones."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "DnsZone": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "dns_zone"
            ]
          },
          "id": {
            "type": "string",
            "example": "ejemplo.com"
          },
          "service": {
            "type": "string",
            "description": "Servicio que respalda la zona. Solo para facturación y soporte.",
            "example": "svc_10432"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "pending",
              "suspended",
              "terminated",
              "cancelled",
              "fraud",
              "unknown"
            ]
          },
          "record_count": {
            "type": [
              "integer",
              "null"
            ]
          },
          "serial": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "service",
          "status",
          "record_count",
          "serial"
        ]
      },
      "DnsZoneList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DnsZone"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pasalo como `cursor` para la página siguiente. Es **opaco**: no lo construyas, no lo parsees y no lo guardes entre versiones."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "DnsZoneExport": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "dns_zone_export"
            ]
          },
          "zone": {
            "type": "string"
          },
          "format": {
            "type": "string",
            "enum": [
              "bind"
            ]
          },
          "content": {
            "type": "string"
          }
        },
        "required": [
          "object",
          "zone",
          "format",
          "content"
        ]
      },
      "DnsRecord": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "dns_record"
            ]
          },
          "id": {
            "type": "string",
            "example": "www.ejemplo.com/A"
          },
          "name": {
            "type": "string",
            "description": "FQDN sin punto final.",
            "example": "www.ejemplo.com"
          },
          "type": {
            "type": "string",
            "enum": [
              "A",
              "AAAA",
              "CNAME",
              "MX",
              "TXT",
              "NS",
              "SRV",
              "CAA",
              "PTR"
            ],
            "description": "El `SOA` y el `NS` de la delegación los administra la plataforma y no se editan."
          },
          "ttl": {
            "type": "integer"
          },
          "values": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Todos los valores del RRset. Para `MX` incluyen la prioridad (`10 mail.ejemplo.com`); para `SRV`, prioridad, peso y puerto.",
            "example": [
              "1.2.3.4"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "name",
          "type",
          "ttl",
          "values"
        ]
      },
      "DnsRecordList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DnsRecord"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pasalo como `cursor` para la página siguiente. Es **opaco**: no lo construyas, no lo parsees y no lo guardes entre versiones."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "Dbaas": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "dbaas"
            ]
          },
          "id": {
            "type": "string",
            "example": "svc_10432"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "pending",
              "suspended",
              "terminated",
              "cancelled",
              "fraud",
              "unknown"
            ]
          },
          "state": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "running",
              "stopped",
              "provisioning",
              "error",
              "unknown"
            ],
            "description": "Estado real del motor. Distinto de `status`, que es el estado del **contrato** en facturación: un servicio `active` puede estar `provisioning` los primeros minutos."
          },
          "engine": {
            "type": [
              "string",
              "null"
            ],
            "description": "Motor: `mysql`, `postgresql`, `mongodb`, `valkey` (o `redis`, histórico).",
            "example": "postgresql"
          },
          "engine_version": {
            "type": [
              "string",
              "null"
            ]
          },
          "host": {
            "type": [
              "string",
              "null"
            ]
          },
          "port": {
            "type": [
              "integer",
              "null"
            ]
          },
          "node": {
            "type": [
              "string",
              "null"
            ],
            "description": "Nodo físico. Informativo y no direccionable; `null` en el tier compartido."
          },
          "region": {
            "type": [
              "string",
              "null"
            ]
          },
          "plan": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "cpu_cores": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "ram_mb": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "storage_gb": {
                "type": [
                  "number",
                  "null"
                ]
              }
            },
            "required": [
              "cpu_cores",
              "ram_mb",
              "storage_gb"
            ]
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "capabilities": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            },
            "description": "Qué endpoints de `/v1` responden para ESTE servicio. Una capacidad en `false` devuelve `400 unsupported_for_product`: no es transitorio y reintentar no ayuda. Una clave **ausente** es distinta de `false` — significa que no se consultó (ver el listado)."
          }
        },
        "required": [
          "object",
          "id",
          "status",
          "state",
          "engine",
          "engine_version",
          "host",
          "port",
          "node",
          "region",
          "plan",
          "created_at",
          "capabilities"
        ]
      },
      "DbaasList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Dbaas"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pasalo como `cursor` para la página siguiente. Es **opaco**: no lo construyas, no lo parsees y no lo guardes entre versiones."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "DbaasConnection": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "dbaas_connection"
            ]
          },
          "engine": {
            "type": [
              "string",
              "null"
            ],
            "description": "Motor: `mysql`, `postgresql`, `mongodb`, `valkey` (o `redis`, histórico).",
            "example": "postgresql"
          },
          "host": {
            "type": [
              "string",
              "null"
            ]
          },
          "port": {
            "type": [
              "integer",
              "null"
            ]
          },
          "database": {
            "type": [
              "string",
              "null"
            ],
            "description": "Base por defecto. `null` en los servicios donde el administrador elige al entrar."
          },
          "username": {
            "type": [
              "string",
              "null"
            ],
            "description": "Usuario administrador del motor."
          },
          "sslmode": {
            "type": [
              "string",
              "null"
            ],
            "description": "Modo TLS en el vocabulario del motor (`verify-ca`, `VERIFY_CA`, `rediss`).",
            "example": "verify-ca"
          },
          "ca_cert": {
            "type": [
              "string",
              "null"
            ],
            "description": "PEM de la CA del servicio, para `sslrootcert`/`--ssl-ca`. Es **público**: sirve para verificar al servidor, no para entrar."
          }
        },
        "required": [
          "object",
          "engine",
          "host",
          "port",
          "database",
          "username",
          "sslmode",
          "ca_cert"
        ]
      },
      "DbaasCredential": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "dbaas_credential"
            ]
          },
          "username": {
            "type": [
              "string",
              "null"
            ]
          },
          "password": {
            "type": [
              "string",
              "null"
            ],
            "description": "Password del administrador, en claro. **Es acceso total a los datos**: no la loguees, no la guardes en un archivo de configuración compartido y no la pases por la línea de comandos. No se devuelve ninguna URI: una URI con la credencial adentro termina en el historial del shell y en los logs del proceso que la recibe."
          },
          "host": {
            "type": [
              "string",
              "null"
            ]
          },
          "port": {
            "type": [
              "integer",
              "null"
            ]
          },
          "database": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "username",
          "password",
          "host",
          "port",
          "database"
        ]
      },
      "DbaasStats": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "dbaas_stats"
            ]
          },
          "cpu_percent": {
            "type": [
              "number",
              "null"
            ]
          },
          "memory_used_bytes": {
            "type": [
              "number",
              "null"
            ]
          },
          "memory_total_bytes": {
            "type": [
              "number",
              "null"
            ]
          },
          "disk_used_bytes": {
            "type": [
              "number",
              "null"
            ]
          },
          "disk_total_bytes": {
            "type": [
              "number",
              "null"
            ]
          },
          "connections": {
            "type": [
              "number",
              "null"
            ]
          },
          "max_connections": {
            "type": [
              "number",
              "null"
            ]
          },
          "uptime_seconds": {
            "type": [
              "number",
              "null"
            ]
          },
          "database_count": {
            "type": [
              "number",
              "null"
            ]
          },
          "total_size_bytes": {
            "type": [
              "number",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "cpu_percent",
          "memory_used_bytes",
          "memory_total_bytes",
          "disk_used_bytes",
          "disk_total_bytes",
          "connections",
          "max_connections",
          "uptime_seconds",
          "database_count",
          "total_size_bytes"
        ],
        "description": "Qué campos vienen llenos depende del backend del servicio: unos miden el **contenedor** (CPU, memoria, disco) y otros el **motor** (conexiones, tamaño, uptime). Un `null` es \"no se mide acá\", no cero."
      },
      "DbaasLogs": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "dbaas_logs"
            ]
          },
          "lines": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "De la más vieja a la más nueva, como las devuelve el motor."
          }
        },
        "required": [
          "object",
          "lines"
        ]
      },
      "DbaasDatabase": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "dbaas_database"
            ]
          },
          "id": {
            "type": "string",
            "example": "appdb"
          },
          "name": {
            "type": "string"
          },
          "owner": {
            "type": [
              "string",
              "null"
            ]
          },
          "size_bytes": {
            "type": [
              "number",
              "null"
            ]
          },
          "table_count": {
            "type": [
              "number",
              "null"
            ],
            "description": "Tablas (o colecciones en MongoDB). `null` cuando el motor no lo reporta."
          }
        },
        "required": [
          "object",
          "id",
          "name",
          "owner",
          "size_bytes",
          "table_count"
        ]
      },
      "DbaasDatabaseList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DbaasDatabase"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pasalo como `cursor` para la página siguiente. Es **opaco**: no lo construyas, no lo parsees y no lo guardes entre versiones."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "DbaasUser": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "dbaas_user"
            ]
          },
          "id": {
            "type": "string",
            "example": "app@%"
          },
          "username": {
            "type": "string"
          },
          "host": {
            "type": [
              "string",
              "null"
            ],
            "description": "Solo MySQL: desde dónde puede conectarse. `%` es cualquier origen."
          },
          "can_login": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "can_create_db": {
            "type": [
              "boolean",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "username",
          "host",
          "can_login",
          "can_create_db"
        ]
      },
      "DbaasUserList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DbaasUser"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pasalo como `cursor` para la página siguiente. Es **opaco**: no lo construyas, no lo parsees y no lo guardes entre versiones."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "DbaasBackup": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "dbaas_backup"
            ]
          },
          "id": {
            "type": "string",
            "example": "20260727-030001F"
          },
          "type": {
            "type": [
              "string",
              "null"
            ],
            "description": "`full`, `diff`, `incr`, `manual`…"
          },
          "size_bytes": {
            "type": [
              "number",
              "null"
            ]
          },
          "location": {
            "type": [
              "string",
              "null"
            ],
            "description": "`local`, `s3` o `both`."
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "type",
          "size_bytes",
          "location",
          "created_at"
        ]
      },
      "DbaasBackupList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DbaasBackup"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pasalo como `cursor` para la página siguiente. Es **opaco**: no lo construyas, no lo parsees y no lo guardes entre versiones."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "Caas": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "caas"
            ]
          },
          "id": {
            "type": "string",
            "example": "svc_10432"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "pending",
              "suspended",
              "terminated",
              "cancelled",
              "fraud",
              "unknown"
            ]
          },
          "label": {
            "type": [
              "string",
              "null"
            ],
            "description": "Identificador del servicio."
          },
          "primary_ip": {
            "type": [
              "string",
              "null"
            ]
          },
          "provisioning_state": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "draft",
              "provisioning",
              "active",
              "suspended",
              "terminated",
              "error",
              "unknown"
            ],
            "description": "Avance del aprovisionamiento. Distinto de `status`, que es el estado del **contrato** en facturación: un servicio `active` en facturación puede seguir en `provisioning` acá. Mientras no esté `active`, los endpoints de apps devuelven `400 unsupported_for_product`."
          },
          "machine": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "state": {
                "type": "string",
                "enum": [
                  "running",
                  "stopped",
                  "unknown"
                ]
              },
              "uptime_seconds": {
                "type": [
                  "number",
                  "null"
                ]
              }
            },
            "required": [
              "state",
              "uptime_seconds"
            ],
            "description": "Máquina que corre el servicio. `null` en el listado y también cuando todavía no existe — un servicio recién comprado no tiene máquina hasta que el alta termina."
          },
          "capabilities": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            },
            "description": "Qué endpoints de `/v1` responden para ESTE servicio. Una capacidad en `false` devuelve `400 unsupported_for_product`; no es un error transitorio y reintentar no ayuda."
          }
        },
        "required": [
          "object",
          "id",
          "status",
          "label",
          "primary_ip",
          "provisioning_state",
          "machine",
          "capabilities"
        ]
      },
      "CaasList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Caas"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pasalo como `cursor` para la página siguiente. Es **opaco**: no lo construyas, no lo parsees y no lo guardes entre versiones."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "CaasAppSource": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "git",
              "docker_image",
              "other"
            ],
            "description": "`other` = el origen se configuró por fuera de esta API y no es representable acá."
          },
          "ref": {
            "type": [
              "string",
              "null"
            ],
            "description": "URL del repositorio, o referencia de la imagen (`nginx:1.27`)."
          },
          "branch": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "type",
          "ref",
          "branch"
        ],
        "description": "Origen del código. Viene en `null` en el listado —el backend no lo trae ahí— y también cuando la app se creó sin origen configurado. Usá `GET /v1/caas/{id}/apps/{app_id}`."
      },
      "CaasApp": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "caas_app"
            ]
          },
          "id": {
            "type": "string",
            "example": "app_9f2c1b7e"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "idle",
              "deploying",
              "deployed",
              "error",
              "unknown"
            ],
            "description": "En qué quedó el **último despliegue**. No es un healthcheck: un `deployed` no garantiza que el proceso siga vivo ahora. `idle` = nunca se desplegó desde que se creó."
          },
          "source": {
            "$ref": "#/components/schemas/CaasAppSource"
          }
        },
        "required": [
          "object",
          "id",
          "name",
          "status",
          "source"
        ]
      },
      "CaasAppList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CaasApp"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pasalo como `cursor` para la página siguiente. Es **opaco**: no lo construyas, no lo parsees y no lo guardes entre versiones."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "CaasDeployment": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "caas_deployment"
            ]
          },
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "running",
              "succeeded",
              "failed",
              "unknown"
            ]
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "status",
          "created_at"
        ]
      },
      "CaasDeploymentList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CaasDeployment"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pasalo como `cursor` para la página siguiente. Es **opaco**: no lo construyas, no lo parsees y no lo guardes entre versiones."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "CaasLogs": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "caas_logs"
            ]
          },
          "app": {
            "type": "string"
          },
          "content": {
            "type": "string",
            "description": "Salida tal como la emite la app, con saltos de línea. Puede venir vacía."
          }
        },
        "required": [
          "object",
          "app",
          "content"
        ]
      },
      "CaasEnvVar": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "caas_env_var"
            ]
          },
          "key": {
            "type": "string",
            "example": "DATABASE_URL"
          }
        },
        "required": [
          "object",
          "key"
        ]
      },
      "CaasEnvVarList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CaasEnvVar"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pasalo como `cursor` para la página siguiente. Es **opaco**: no lo construyas, no lo parsees y no lo guardes entre versiones."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "CaasDomain": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "caas_domain"
            ]
          },
          "host": {
            "type": "string",
            "example": "app.ejemplo.com"
          },
          "https": {
            "type": "boolean"
          },
          "certificate_type": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "none",
              "letsencrypt",
              "custom",
              "unknown"
            ],
            "description": "Qué emisor está configurado, **no** si el certificado ya se emitió: la emisión es asíncrona y no hay ningún estado ni id que consultar. Viene en `null` en la respuesta del alta, porque en ese momento todavía no hay certificado. La única verificación real de que el dominio quedó sirviendo es una petición HTTPS al host."
          }
        },
        "required": [
          "object",
          "host",
          "https",
          "certificate_type"
        ]
      },
      "CaasDomainList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CaasDomain"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pasalo como `cursor` para la página siguiente. Es **opaco**: no lo construyas, no lo parsees y no lo guardes entre versiones."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "CaasDatabase": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "caas_database"
            ]
          },
          "id": {
            "type": "string"
          },
          "engine": {
            "type": "string",
            "example": "postgres"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "idle",
              "deploying",
              "deployed",
              "error",
              "unknown"
            ],
            "description": "En qué quedó el **último despliegue**. No es un healthcheck: un `deployed` no garantiza que el proceso siga vivo ahora. `idle` = nunca se desplegó desde que se creó."
          }
        },
        "required": [
          "object",
          "id",
          "engine",
          "name",
          "status"
        ]
      },
      "CaasDatabaseList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CaasDatabase"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pasalo como `cursor` para la página siguiente. Es **opaco**: no lo construyas, no lo parsees y no lo guardes entre versiones."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "LoadBalancer": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "load_balancer"
            ]
          },
          "id": {
            "type": "string",
            "example": "svc_10432"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "pending",
              "suspended",
              "terminated",
              "cancelled",
              "fraud",
              "unknown"
            ]
          },
          "provisioning_state": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "draft",
              "provisioning",
              "active",
              "suspended",
              "terminated",
              "error",
              "unknown"
            ],
            "description": "Avance del aprovisionamiento. Distinto de `status`, que es el estado del **contrato** en facturación. Mientras no esté `active`, escribir listeners devuelve `400 unsupported_for_product`."
          },
          "hostname": {
            "type": [
              "string",
              "null"
            ],
            "description": "Nombre estable del balanceador. Apuntá tus registros DNS acá, no a la IP."
          },
          "public_ip": {
            "type": [
              "string",
              "null"
            ],
            "description": "IP por la que entra el tráfico. Puede moverse a otra máquina ante una falla: es parte de cómo el servicio se recupera, y por eso no es lo que conviene poner en un DNS."
          },
          "healthy": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "¿Responde el balanceador? `null` = no se pudo verificar, que es distinto de `false`: pasa mientras se aprovisiona. No dice nada sobre la salud de tus destinos — eso está en `GET /v1/load-balancers/{id}/stats`."
          },
          "listener_count": {
            "type": [
              "integer",
              "null"
            ]
          },
          "capabilities": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            },
            "description": "Qué endpoints de `/v1` responden para ESTE servicio. Una capacidad en `false` devuelve `400 unsupported_for_product`."
          }
        },
        "required": [
          "object",
          "id",
          "status",
          "provisioning_state",
          "hostname",
          "public_ip",
          "healthy",
          "listener_count",
          "capabilities"
        ]
      },
      "LoadBalancerList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LoadBalancer"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pasalo como `cursor` para la página siguiente. Es **opaco**: no lo construyas, no lo parsees y no lo guardes entre versiones."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "LbListener": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "lb_listener"
            ]
          },
          "id": {
            "type": "string",
            "example": "web"
          },
          "name": {
            "type": "string"
          },
          "protocol": {
            "type": "string",
            "enum": [
              "http",
              "tcp"
            ],
            "description": "`tcp` balancea a nivel de conexión y sirve para cualquier protocolo. `http` entiende el pedido y es lo que habilita enrutar por dominio."
          },
          "port": {
            "type": "integer"
          },
          "tls": {
            "type": "string",
            "enum": [
              "none",
              "passthrough",
              "terminate"
            ],
            "description": "`passthrough` entrega el TLS intacto a tus destinos. `terminate` lo descifra en el balanceador —requiere `protocol: http` y `domain`— y el tráfico hacia tus destinos viaja en claro por la red interna."
          },
          "domain": {
            "type": [
              "string",
              "null"
            ]
          },
          "algorithm": {
            "type": "string",
            "enum": [
              "roundrobin",
              "leastconn",
              "source"
            ],
            "description": "`source` manda cada IP de origen siempre al mismo destino: es lo que se usa cuando la aplicación guarda sesión en memoria."
          },
          "health_check": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "tcp",
                  "http"
                ]
              },
              "path": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "interval_ms": {
                "type": "integer"
              }
            },
            "required": [
              "type",
              "path",
              "interval_ms"
            ]
          },
          "backends": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ip": {
                  "type": "string"
                },
                "port": {
                  "type": "integer"
                },
                "weight": {
                  "type": [
                    "integer",
                    "null"
                  ]
                }
              },
              "required": [
                "ip",
                "port",
                "weight"
              ]
            }
          }
        },
        "required": [
          "object",
          "id",
          "name",
          "protocol",
          "port",
          "tls",
          "domain",
          "algorithm",
          "health_check",
          "backends"
        ]
      },
      "LbListenerList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LbListener"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pasalo como `cursor` para la página siguiente. Es **opaco**: no lo construyas, no lo parsees y no lo guardes entre versiones."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "LbBackend": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "lb_backend"
            ]
          },
          "id": {
            "type": "string",
            "example": "web/10.0.0.5/8080"
          },
          "listener": {
            "type": "string"
          },
          "ip": {
            "type": "string",
            "description": "IP o nombre de host del destino."
          },
          "port": {
            "type": "integer"
          },
          "weight": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Proporción de tráfico frente a los demás destinos del listener. Default 1."
          }
        },
        "required": [
          "object",
          "id",
          "listener",
          "ip",
          "port",
          "weight"
        ]
      },
      "LbBackendList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LbBackend"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pasalo como `cursor` para la página siguiente. Es **opaco**: no lo construyas, no lo parsees y no lo guardes entre versiones."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "LbStats": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "lb_stats"
            ]
          },
          "listeners": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "listener": {
                  "type": "string"
                },
                "protocol": {
                  "type": "string",
                  "enum": [
                    "http",
                    "tcp",
                    "unknown"
                  ]
                },
                "port": {
                  "type": [
                    "integer",
                    "null"
                  ]
                },
                "state": {
                  "type": "string",
                  "enum": [
                    "up",
                    "down",
                    "unknown"
                  ]
                },
                "sessions": {
                  "type": "integer",
                  "description": "Conexiones en curso."
                },
                "bytes_in": {
                  "type": "number"
                },
                "bytes_out": {
                  "type": "number"
                },
                "backends": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "target": {
                        "type": "string",
                        "description": "El destino tal como está declarado, en la forma `host:puerto`.",
                        "example": "10.0.0.5:8080"
                      },
                      "health": {
                        "type": "string",
                        "enum": [
                          "healthy",
                          "unhealthy",
                          "unknown"
                        ]
                      }
                    },
                    "required": [
                      "target",
                      "health"
                    ]
                  }
                }
              },
              "required": [
                "listener",
                "protocol",
                "port",
                "state",
                "sessions",
                "bytes_in",
                "bytes_out",
                "backends"
              ]
            }
          }
        },
        "required": [
          "object",
          "listeners"
        ]
      },
      "ObjectStorage": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "object_storage"
            ]
          },
          "service": {
            "type": [
              "string",
              "null"
            ],
            "example": "svc_10432"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "suspended",
              "error"
            ]
          },
          "endpoint": {
            "type": "string",
            "description": "Endpoint S3. Configurá el cliente con `addressing_style=path`.",
            "example": "s3.truo.cloud"
          },
          "storage_bytes": {
            "type": "integer"
          },
          "objects": {
            "type": "integer"
          },
          "buckets": {
            "type": "integer"
          },
          "egress_used_bytes": {
            "type": "integer",
            "description": "Descargado en los últimos 30 días."
          },
          "egress_included_bytes": {
            "type": "integer",
            "description": "Egress incluido del período, derivado del almacenamiento en uso."
          },
          "requests_30d": {
            "type": "integer"
          }
        },
        "required": [
          "object",
          "service",
          "status",
          "endpoint",
          "storage_bytes",
          "objects",
          "buckets",
          "egress_used_bytes",
          "egress_included_bytes",
          "requests_30d"
        ]
      },
      "StorageBucket": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "storage_bucket"
            ]
          },
          "id": {
            "type": "string",
            "example": "respaldos"
          },
          "name": {
            "type": "string",
            "example": "respaldos"
          },
          "access": {
            "type": "string",
            "enum": [
              "private",
              "public"
            ],
            "description": "`public` publica el bucket en una URL de solo lectura (`public_url`). `private` la retira: los objetos siguen accesibles con llave o con una URL prefirmada."
          },
          "objects": {
            "type": "integer"
          },
          "size_bytes": {
            "type": "integer"
          },
          "public_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Base de lectura anónima. `null` mientras el bucket sea privado.",
            "example": "https://s3.truo.cloud/_public/k3m9xz4n/"
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "Null en un bucket creado por un cliente S3 directo, que no tiene fila de registro."
          }
        },
        "required": [
          "object",
          "id",
          "name",
          "access",
          "objects",
          "size_bytes",
          "public_url",
          "created_at"
        ]
      },
      "StorageBucketList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StorageBucket"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pasalo como `cursor` para la página siguiente. Es **opaco**: no lo construyas, no lo parsees y no lo guardes entre versiones."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "StorageDeletion": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "storage_deletion"
            ]
          },
          "bucket": {
            "type": "string"
          },
          "deleted": {
            "type": "integer",
            "description": "Objetos efectivamente borrados."
          }
        },
        "required": [
          "object",
          "bucket",
          "deleted"
        ]
      },
      "StorageBucketMetrics": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "storage_bucket_metrics"
            ]
          },
          "bucket": {
            "type": "string"
          },
          "range": {
            "type": "string",
            "enum": [
              "7d",
              "30d",
              "90d"
            ]
          },
          "storage_bytes": {
            "type": "integer"
          },
          "storage_delta_bytes": {
            "type": "integer",
            "description": "Diferencia contra el primer snapshot del rango. Negativo si el bucket bajó."
          },
          "objects": {
            "type": "integer"
          },
          "objects_delta": {
            "type": "integer"
          },
          "egress_used_bytes": {
            "type": "integer"
          },
          "egress_included_bytes": {
            "type": "integer"
          },
          "requests_30d": {
            "type": "integer",
            "description": "Siempre 30 días, independiente de `range`."
          },
          "get_pct": {
            "type": "integer",
            "description": "Porcentaje de lecturas sobre el total de requests del rango."
          },
          "storage_series": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "bytes": {
                  "type": "integer"
                }
              },
              "required": [
                "date",
                "bytes"
              ]
            },
            "description": "Un punto por día UTC. Vacío mientras no haya snapshots."
          },
          "requests_series": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "get": {
                  "type": "integer"
                },
                "put": {
                  "type": "integer"
                }
              },
              "required": [
                "date",
                "get",
                "put"
              ]
            },
            "description": "Un punto por día UTC. Vacío si no hubo tráfico en el rango."
          },
          "egress_by_origin": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string"
                },
                "bytes": {
                  "type": "integer"
                }
              },
              "required": [
                "label",
                "bytes"
              ]
            },
            "description": "Cuánto salió por el cache del edge y cuánto por el origen."
          }
        },
        "required": [
          "object",
          "bucket",
          "range",
          "storage_bytes",
          "storage_delta_bytes",
          "objects",
          "objects_delta",
          "egress_used_bytes",
          "egress_included_bytes",
          "requests_30d",
          "get_pct",
          "storage_series",
          "requests_series",
          "egress_by_origin"
        ]
      },
      "StorageObject": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "storage_object"
            ]
          },
          "id": {
            "type": "string",
            "example": "fotos/logo.png"
          },
          "key": {
            "type": "string",
            "description": "Relativa al bucket. Las carpetas terminan en `/`.",
            "example": "fotos/logo.png"
          },
          "name": {
            "type": "string",
            "description": "Último segmento de la key.",
            "example": "logo.png"
          },
          "is_folder": {
            "type": "boolean",
            "description": "Una carpeta no es un objeto: es un prefijo común. Se lista para poder navegar, y no tiene tamaño ni fecha."
          },
          "content_type": {
            "type": [
              "string",
              "null"
            ],
            "description": "Inferido de la extensión, no leído del objeto.",
            "example": "image/png"
          },
          "size_bytes": {
            "type": [
              "integer",
              "null"
            ]
          },
          "last_modified": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "key",
          "name",
          "is_folder",
          "content_type",
          "size_bytes",
          "last_modified"
        ]
      },
      "StorageObjectList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StorageObject"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pasalo como `cursor` para la página siguiente. Es **opaco**: no lo construyas, no lo parsees y no lo guardes entre versiones."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "StoragePresignedUrl": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "storage_presigned_url"
            ]
          },
          "url": {
            "type": "string"
          },
          "method": {
            "type": "string",
            "enum": [
              "GET",
              "PUT"
            ]
          },
          "expires_in": {
            "type": "integer"
          },
          "expires_at": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "url",
          "method",
          "expires_in",
          "expires_at"
        ]
      },
      "StorageAccessKey": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "storage_access_key"
            ]
          },
          "id": {
            "type": "string",
            "description": "Hoy coincide con `access_key_id`; tratalo igual como identificador del recurso.",
            "example": "AKIA7QF2K3M9XZ4NPRTV"
          },
          "name": {
            "type": "string"
          },
          "access_key_id": {
            "type": "string",
            "description": "Lo que va en el cliente S3."
          },
          "scope": {
            "type": "string",
            "description": "Bucket al que está acotada la llave, o `*` para todos.",
            "example": "*"
          },
          "permission": {
            "type": "string",
            "enum": [
              "read",
              "readwrite",
              "full"
            ],
            "description": "`read` solo descarga, `readwrite` sube y borra, `full` agrega la gestión de buckets desde el protocolo S3."
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "last_used": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "object",
          "id",
          "name",
          "access_key_id",
          "scope",
          "permission",
          "created_at",
          "last_used"
        ]
      },
      "StorageAccessKeyList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StorageAccessKey"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pasalo como `cursor` para la página siguiente. Es **opaco**: no lo construyas, no lo parsees y no lo guardes entre versiones."
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "StorageAccessKeyWithSecret": {
        "allOf": [
          {
            "$ref": "#/components/schemas/StorageAccessKey"
          },
          {
            "type": "object",
            "properties": {
              "secret_access_key": {
                "type": "string",
                "description": "Aparece **una sola vez**, en esta respuesta. No se guarda en claro de nuestro lado y no hay endpoint que lo recupere: si se pierde, la salida es emitir otra llave y rotar la aplicación."
              }
            },
            "required": [
              "secret_access_key"
            ]
          }
        ]
      },
      "MailGatewayUsage": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "mail_gateway_usage"
            ]
          },
          "period": {
            "type": "string",
            "description": "Mes calendario UTC en curso, `YYYY-MM`. Es el período que factura.",
            "example": "2026-07"
          },
[...]
